Frequence Calculations
 NSW    =  1                 (number of ionic steps. Make it odd.)
 ISMEAR =  {{ISMEAR or 0}}   (gaussian smearing method )
 SIGMA  =  {{SIGMA or 0.05}} (please check the width of the smearing)
 IBRION =  5                 (frequence calculation)
 POTIM  =  {{POTIM or 0.02}} (displacement step)
 NFREE  =  {{NFREE or 2}}    (displacement freedom)