Global Parameters
 ISTART   = 1                    !Read existing wavefunction, if there
 ISPIN    = {{ISPIN or 1}}       !Non-Spin polarised DFT
 #ICHARG  = 11                   !Non-self-consistent: GGA/LDA band structures
 LREAL    = .FALSE.              !Projection operators: automatic
 ENCUT    = {{ENCUT or 400}}     !Cut-off energy for plane wave basis set, in eV
 #PREC    = Accurate             !Precision level: Normal or Accurate, set Accurate when perform structure lattice relaxation calculation
 LWAVE    = {{LWAVE or .TRUE.}}  !Write WAVECAR or not
 LCHARG   = {{LCHARG or .TRUE.}} !Write CHGCAR or not
 ADDGRID  = .TRUE.               !Increase grid, helps GGA convergence
 # LVTOT  = .TRUE.               !Write total electrostatic potential into LOCPOT or not
 # LVHAR  = .TRUE.               !Write ionic + Hartree electrostatic potential into LOCPOT or not
 # NELECT =                      !No. of electrons: charged cells, be careful
 # LPLANE = .TRUE.               !Real space distribution, supercells
 # NWRITE = 2                    !Medium-level output
 # KPAR   = 2                    !Divides k-grid into separate groups
 # NGXF   = 300                  !FFT grid mesh density for nice charge/potential plots
 # NGYF   = 300                  !FFT grid mesh density for nice charge/potential plots
 # NGZF   = 300                  !FFT grid mesh density for nice charge/potential plots
 # GGA    =  PS                  !PBEsol exchange-correlation

Electronic Relaxation
 ISMEAR = {{ISMEAR or 0}}        !Gaussian smearing, metals:1
 SIGMA  = {{SIGMA or 0.05}}      !Smearing value in eV, metals:0.2
 NELM   = {{NELM or 100}}        !Max electronic SCF steps
 NELMIN = {{NELMIN or 6}}        !Min electronic SCF steps
 EDIFF  = {{EDIFF or 1E-08}}     !SCF energy convergence, in eV

Ionic Relaxation
 NSW    = {{NSW or 100}}         !Max ionic steps
 IBRION = 2                      !Algorithm: 0-MD, 1-Quasi-New, 2-CG
 ISIF   = {{ISIF or 2}}          !Stress/relaxation: 2-Ions, 3-Shape/Ions/V, 4-Shape/Ions
 EDIFFG = {{EDIFFG or -0.01}}    !Ionic convergence, eV/AA
 # ISYM = 2                      !Symmetry: 0=none, 2=GGA, 3=hybrids
